*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-size: cover;
    font-family: "Red Hat Display";
}
body{
    background-image: url("./images/pattern-background-desktop.svg");
    object-fit: cover;
    background-repeat:no-repeat;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    width:350px;
    border-radius: 15px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.img{
    width:100%;
    background-repeat:no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.card h2{
    padding: 20px 10px 2px;
    text-align: center;
    color:hsl(223, 47%, 23%);
    font-weight: 700;
}
.card p{
    padding:10px 30px;
    text-align: center;
    color:hsl(223, 47%, 23%);
    margin-bottom: 15px;
    font-size:16px;
}
.payment{
    background-color: hsl(245, 75%, 52%);
    color:#fff;
    padding:15px 15px;
    display:block;
    text-align: center;
    margin:20px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s ease;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.payment:hover{
    background-color: hsl(245, 75%, 70%);
}
.cancel{
    text-align: center;
    display:block;
    text-decoration: none;
    margin-bottom: 20px;
    color:#000;
    transition: 0.2s ease;
}
.cancel:hover{
    font-weight: 700;
}
.cancel:hover{
    color:hsl(223, 47%, 23%);
}
.items{
    position:relative;
    background-color: hsl(225, 100%, 98%);
    display:flex;
    margin:2px 10px;
    border-radius: 15px;
}
.items img{
    margin:15px;
}
.items a{
    position:absolute;
    right:0;
    top:40%;
    margin-right: 15px;
    color:hsl(245, 75%, 42%);
    font-size:12px;
}
.items a:hover{
    text-decoration: none;
    color: hsl(245, 75%, 70%);
}
.item{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan-type{
    font-weight: 700;
}

@media (min-width:375px) and (max-width:480px){
    .card{
        width:300px;
    }
}

@media (max-width:375px){
    .card{
        width:300px;
        margin:0 15px;
    }
    .card p{
        font-size: 14px;
    }
    .items img{
        margin: 10px;
    }
    .items a{
        margin:10px;
        top:30%;
        
    }
}

